@font-face{
    font-family: 'AtypDisplay';
    src: url('/fonts/Atyp/Atyp/AtypDisplay-Semibold.ttf') format("truetype");
}

@font-face{
    font-family: 'Inter';
    src: url('/fonts/Inter-Light.ttf') format("truetype");
}

@font-face{
    font-family: 'AtypMedium';
    src: url('/fonts/Atyp/Atyp/AtypText-Bold.ttf') format("truetype");
}

@font-face{
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Bold.ttf') format("truetype");
}


@font-face{
    font-family: 'Helvetica';
    src: url('/fonts/Helvetica/Helvetica-Bold.ttf') format("truetype");
}